<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="alert alert-danger" role="alert" style="text-align: center;height: 100vh;padding-top: 100px">

    <h1 class="alert-heading">登陆失败</h1>
    <hr>
    <p>账号密码不正确</p>
    <hr>
    <p class="mb-0">
        <a href="login.html">
        <button type="button" class="btn btn-outline-success">重新登陆</button></a>
        <a href="add.html">
        <button type="button" class="btn btn-outline-success">注册用户</button></a>
    </p>
    <hr>
</div>
</body>
</html>