<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="referrer" content="never">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/collection.css" />
    <link rel="stylesheet" href="/css/explore.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/player.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="stylesheet" href="/css/share.css" />
    <link rel="stylesheet" href="/css/mhzdetail.css" />
    <link rel="stylesheet" href="/css/collectiondetail.css" />
    <link rel="stylesheet" href="/css/my.css" />
    <link rel="stylesheet" href="/css/user-guide.css" />
    <script src="/js/qrcode-min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>豆瓣FM</title>
</head>

<body>
<div class="app">
    <div th:replace="section-title::section-title"></div>
    <div class="container" th:include="::content">首屏播放器</div>
    </div>
</div >
    <div th:replace="footer::footer"></div>
</body>
</html>