<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="share">
<div id="share" class="share">
    <div class="close" id="close"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
    </svg></div>
    <div class="inner">
        <div class="share-item">
            <div class="cover">

            </div>
            <div class="titles">
                <h3 class="title">Daily - Paniyolo</h3>
                <p class="subtitle">单曲</p>
            </div>
        </div>
        <div class="qrcode-wrapper">
            <div id="qrcode" class="qrcode">

            </div>
            <p class="desc">扫码分享到微信</p>
        </div>

        <div class="services">
            <a href="https://douban.fm/channel/3474439?start=1474439g0338g0"
               class="share-douban"><i href="#" class="icon icon-share-douban"
                                       style="background-image: url(&quot;//img3.doubanio.com/dae/staticng/s/bragi/5c02cfc1f8edbb05fab15d946080d7acc8dc10fb/deploy/8666ef2264095a23412f9161cde4a59c.svg&quot;); background-size: 30px 30px; display: inline-block; height: 30px; width: 30px;"></i></a><a
                href="https://douban.fm/channel/3474439?start=1474439g0338g0" class="share-weibo"><i href="#"
                                                                                                     class="icon icon-share-weibo"
                                                                                                     style="background-image: url(&quot;//img3.doubanio.com/dae/staticng/s/bragi/5c02cfc1f8edbb05fab15d946080d7acc8dc10fb/deploy/99c6cac5ad01a1e5af22dd06332d4647.svg&quot;); background-size: 30px 30px; display: inline-block; height: 30px; width: 30px;"></i></a><a
                href="https://douban.fm/channel/3474439?start=1474439g0338g0" class="share-qq"><i href="#"
                                                                                                  class="icon icon-share-qq"
                                                                                                  style="background-image: url(&quot;//img3.doubanio.com/dae/staticng/s/bragi/5c02cfc1f8edbb05fab15d946080d7acc8dc10fb/deploy/6ed7a2e0b4af9adf74c6b5e75473d4e3.svg&quot;); background-size: 30px 30px; display: inline-block; height: 30px; width: 30px;"></i></a><a
                href="https://douban.fm/channel/3474439?start=1474439g0338g0" class="share-copy"><i href="#"
                                                                                                    class="icon icon-share-copy"
                                                                                                    style="background-image: url(&quot;//img3.doubanio.com/dae/staticng/s/bragi/5c02cfc1f8edbb05fab15d946080d7acc8dc10fb/deploy/381ac2fba58f00d5b9281f9cf13b553f.svg&quot;); background-size: 30px 30px; display: inline-block; height: 30px; width: 30px;"></i></a>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">

        var qrcode = new QRCode('qrcode', {
            text: 'https://douban.fm',
            width: 120,
            height: 120,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        });

    </script>
</div>
</div>
</html>